form{
   box-shadow:3px 3px 10px black;
    padding:30px;
    text-align:center;
    height:250px;
    width:500px;
}
.btn{
    text-align:center;
    padding:40px;
}
.form1{
box-shadow:3px 3px 10px black;
    padding:30px;
    text-align:center;
    height:250px;
    width:500px;


}