@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    /*------Font Family we use this variable ----*/
    --ff-primary:"Roboto",sans-serif;
    --ff-secondary:"Lato",sans-serif;

    /*----------colors-------*/
    --clr-white:#fff;
    --clr-black:#000000;
    --clr-dark:#333;
    --clr-grey-1:#102a42;
    --clr-grey-2:#617d98;
    --clr-grey-3:#f1f5f8;
    --clr-button-1:#005cd5 ;
    --clr-button-2:#0bc427;
    --transition:all 0.3s linear;
}
body, html{
    background: linear-gradient(50deg,#0772fd   50%,#b7d6ea  50%);
    height: 100%;
}
.header{
    padding-top: 15px;
    margin-left: 80%;

}
.header a{
    color: var(--clr-white);
    padding-right: 20px;

}
.header a button{
    padding: 5px 10px;
    font-size: 16px;
    background-color:var(--clr-button-2) ;
    border: 0;
    border-radius: 8px;
    color: var(--clr-white);
}
.header a button:hover{
    box-shadow: 0 0 25px 5px var(--clr-button-1);
    transform: scale(1.2);
}
.student-login-container{
    width: 900px;
    height: 60%;
   background-color: var(--clr-white);
   align-items: center;
   justify-content: center;
   margin-top: 6%;
   margin-left: 20%;
   margin-bottom: 10%;
   border-radius: 20px 20px;

}
.stu-login-page{
   justify-content: space-between;
   display: flex;
   box-shadow: 0px 10px 20px rgba(0,0,0,0.6);
}
.box1{
    max-width: 40%;
    font-family: var(--ff-secondary);
    margin-left: 100px;
    padding-top: 80px;
    align-items: center;
    text-align: center;
   
}
.input input,.pass input{
    height: 30px;
    width: 250px;
    padding-left: 12px;
    background-color:var(--clr-grey-3);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 1px var(--clr-grey-2);
    outline: none;
}
input:hover{
    box-shadow: 0 0 5px 2px var(--clr-grey-2);
    outline: none;
}

.input, .pass {
    position: relative;
    padding-top: 20px;
}

.input ion-icon, .pass ion-icon {
    position: absolute;
    transform: translateX(-100%); /* Center the icon vertically */
    font-size: 20px;
    color: black; /* Icon color */
    margin-top: 6px;
    padding-right: 5px;
    opacity: 0.6;
    pointer-events: none; /* Make sure the icon doesn't interfere with text input */
}
.checkbox{
    padding-top: 20px;
    font-size: 13px;
    text-align: left;
    margin-left: 10px;
}
.checkbox span a{
    margin-left: 60px;
    color: blue;
    cursor: pointer;
}
.checkbox span a:hover{
    border-bottom: 1px solid blue;
}
.button {
    padding-top: 20px;
}
.button button{
    font-size: 18px;
    padding: 5px 100px;
    background-color: var(--clr-button-1);
    border: 0;
    border-radius: 8px;
    color: var(--clr-white);
    font-weight: 600;
    cursor: pointer;
}
.button button:hover{
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    transition:2s linear;
    
}
.register{
    padding-top: 50px;

}
.register p{
    color: var(--clr-black);
    font-size: 14px;
    cursor: not pointer;
}
.register p span{
    color: blue;
}
.register p span:hover{
    border-bottom: 1px solid blue;
}
.box2 img{
    height: 460px;
    width: 400px;
    margin-top: 2px;
    margin-right: 2px;
   border-radius: 20px;
    
}

