@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NL+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    /*------Font Family we use this variable ----*/
    --ff-primary:"Roboto",sans-serif;
    --ff-secondary:"Lato",sans-serif;

    /*----------colors-------*/
    --clr-white:#fff;
    --clr-black:#000000;
    --clr-dark:#333;
    --clr-grey-1:#102a42;
    --clr-grey-2:#617d98;
    --clr-grey-3:#f1f5f8;
    --clr-hover-1: #006efe;
    --clr-button-1:#005cd5 ;
    --clr-button-3:#4495ff ;
    --clr-button-2:#0bc427;
    --transition:all 0.3s linear;
}
header{
    font-family: 'Lato',sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
}
.alumini .header1{
    background-color: var(--clr-button-3);
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    font-size: 16px;
    color: var(--clr-white);
}
.doubt{
    display: flex;
    padding-top: 8px;
}
.doubt p{
    padding-left: 30px;
}
.doubt p:first-child{
    padding-left: 0px;
}
.alumini{
    background-color: var(--clr-grey-3);
}
.admin-login{
    padding-top: 10px;
    margin-left: 50px;
}
.admin-login a{
    background-color: #0bc427;
    padding: 5px 10px;
    color: var(--clr-white);
    border-radius: 8px;
}
.admin-login a:hover{
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    transition: var(--transition);
}
.header2{
    padding: 0 10%;
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}
.header2 .logo{
    padding-top: 8px;
    padding-bottom: 5px;
    
}

.header2 .logo span{
    color: #006efe;
}
.header2 .menu{
    padding-top: 20px;
    padding-bottom: 5px;
}
.header2 .menu a{
    margin-right: 50px;
    font-size: 18px;
    color: var(--clr-black);
    
}
.header2 .menu a:hover{
    color: var(--clr-hover-1);
    border-bottom: 1px solid var(--clr-hover-1);
    transition: var(--transition);
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.welcome{
    display: flex;
    margin: 5% 10%;
    font-family: 'Open Sans',sans-serif;
}

.left-content .left{
    width: 400px;
    font-size: 24px;
    color: #0c2d48;
    line-height: 40px;
    font-weight: 700;
    text-align: justify;
    padding-top: 80px;
}
.right-content{
    padding-left: 100px;
}
.text{
    color:var(--clr-button-1);
    font-size: 35px;
    text-align: center;

}
.right-content p{
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}