<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>

<style>
    .para{
        width:500px;
    }

</style>




<body>
<div class="para" >
<p>Our Mission
The Desai Foundation is a nonprofit organization dedicated to empowering women and children through community programs and initiatives. Our mission is simple yet powerful: to create lasting change and provide opportunities for growth and development.

We focus on empowering women by providing vocational skills training and support to help them become self-reliant. From vocational skill training to entrepreneurship programs, we aim to foster independence and create a sustainable future.

We believe in action. We believe in making a difference, one step at a time. Through our various projects, we strive to improve access to health, livelihood, and menstrual equity for those who need it most.

But we don’t stop there. Our commitment extends to children as well. We believe that every child deserves a chance to succeed. That’s why we provide educational support which includes real time exposure and foundational building blocks, alongside health support and mentoring programs to help them cultivate dignity and reach their full potential.

We are driven by a sense of purpose and guided by our core values: compassion, integrity, and collaboration. Our dedicated team works tirelessly to create a real, tangible impact in the communities we serve.</p>

</div>

</body>
</html>