<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<form action="/admin">
    <div class="admin">
        <div class="side-bar">
            <div class="menu">
                <div class="item"><a href="#" class="desk"><i class="fas fa-desktop"></i>Home</a></div>
                <div class="item"><a href="{{url_for('course')}}"><i class="fas fa-book"></i>Manage Course</a></div>
                <div class="item">
                    <a class="sub-btn" ><i class="fas fa-table"></i>Event <i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        <a href="{{url_for('addevent')}}" class="sub-item"><i class="fas fa-add"></i>Add Event</a>
                        <a href="{{url_for('updateevent')}}" class="sub-item"><i class="fas fa-eye"></i>View Event</a>
                    </div>
                </div>
                <div class="item">
                    <a class="sub-btn" ><i class="fas fa-image"></i>Gallery <i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        <a href="#" class="sub-item"><i class="fas fa-eye"></i>View Gallery</a>
                        <a href="#" class="sub-item"><i class="fas fa-add"></i>Update Gallery</a>
                    </div>
                </div>
                <div class="item"><a href="#"><i class="fas fa-th"></i>Job Posting</a></div>
                <div class="item"><a href="#"><i class="fas fa-message"></i>Feedback</a></div>
                <div class="item"><a class="sub-btn"><i class="fas fa-circle-user"></i>My Accounts <i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        <a href="#" class="sub-item"><i class="fas fa-user"></i>Student</a>
                    </div>
                </div>
                <div class="item">
                    <a class="sub-btn" ><i class="fas fa-layer-group"></i>Details <i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        <a href="#" class="sub-item"><i class="fas fa-user"></i>Student Details</a>
                        <a href="#" class="sub-item"><i class="fas fa-users"></i>Alumni Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <header>
                <div class="wrapper">
                    <div class="menu-wrapper">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="content-wrapper">
                         <p>Dashboard</p>
                    </div>
                </div>
               
                <div class="search">
                    <span id='search' class="fas fa-search"></span>
                    <input class='text' type="text" name="search" id="" placeholder="Search here">
                </div>
                <div class="user-wrapper">
                    <a href="#" class="image"><i class="fas fa-circle-user"></i></a>
                    <div class="user-content">
                        <p class="name">Admin</p>
                    </div>
                </div>
            </header>
        </div>
        <div class="box">
            <div class="box1">
                <div class="request1">
                    <div class="request2">
                    <a href="{{url_for('view_contact')}}">Request</a>
                </div>    
                <div class="icon">
                    <i class="fas fa-comments"></i>
                </div>
                </div>
            </div>
            <div class="box2">
                <div class="request1">
                    <div class="request2">
                    <a href="{{url_for('view_contact')}}">Request</a>
                </div>    
                <div class="icon">
                    <i class="fas fa-message"></i>
                </div>
                </div>
            </div>
            <div class="box2">
                <div class="request1">
                    <div class="request2">
                    <a href="{{url_for('view_contact')}}">Request</a>
                </div>    
                <div class="icon">
                    <i class="fas fa-message"></i>
                </div>
                </div>
            </div>
           
        </div>
        <script>
            $(document).ready(function(){
                //jquery for toggle sub menus
                $('.sub-btn').click(function(){
                    $(this).next('.sub-menu').slideToggle();
                    $(this).find('.dropdown').toggleClass('rotate');
                });
    
                //jquery for expand and collapse the slidebar
                $('.menu-btn').click(function(){
                    $('.side-bar').addClass('active');
                    $('.menu-bar').css('visibility','hidden');
                });
    
                $('.close-btn').click(function(){
                    $('.side-bar').removeClass('active');
                    $('.menu-bar').css('visibility','visible');
                });
            });
        </script>
    </div>
</form>
</body>
</html>