<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admindashboard</title>
</head>
<body>
 {% if messages %}
            {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}

    <div class="event-box2">

        <form action="/admindashboard">
        <table border="1" >
            <p>contact details</p>
                {% for data in datas %}
                <tr>
                    <td>name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</td><td>{{ data['name'] }}</td>
                </tr>
                <tr>
                    <td>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td><td>{{ data['email'] }}</td>
                </tr>
                <tr>
                    <td>Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</td><td>{{ data['phone'] }}</td>
                </tr>
                <tr>
                    <td> Address &nbsp;&nbsp;: </td><td>{{ data['address'] }}</td>
                </tr>
            {% endfor %}
        </table>
        </form>

</body>
</html>