<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni</title>
    <link rel="stylesheet" href="/static/css/alumni.css">
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% if messages %}
            {% for message in messages %}
            {{message}}
            {% endfor %}
    {% endif %}
    <div class="alumini">
        <form action="/event_details_alumni">
        <header>
            <div class="header1">
                <div class="doubt">
                    <p>Have any questions?</p>
                    <p>9012345678</p>
                    <p>mspvl@mspvl.com</p>
                </div>
            </div>
            <div class="header2">
                <div class="logo">
                    <h1>MSPVL <span>Alumini System</span></h1>
                </div>
                <div class="menu">
                    <a href="#" class="home">Home</a>
                    <a href="#">About</a>
                    <a href="#">Gallery</a>
                    <a href="#">Events</a>
                    <a href="#">Contact</a>
                    <a href="#">Add a Job</a>
                    <a href="#">View Posted Job</a>
                </div>
            </div>
        </header>
        <section class="home">
            <div class="image">
                <img src="/static/images/alumini.jpg" alt="">
            </div>
        </section>
        <section class="event">
            <div class="event-head">
                <p>Events</p>
            </div>
            <div class="event-content">
                <p>It is important to carry out a good follow-up marketing of alumini events. With over
                    100 worldwide events a year, you have a wealth of alumni networking opportunities.
                </p>
            </div>
            <div class="event-box">
                <div class="event-box">
                    {% for data in datas %}
                        <div class="event-row">
                            <span class="date">{{ data['event_date'] }} <span class="day"></span></span>
                            <span class="description"> {{ data['event_des'] }}</span>
                            <a href="{{url_for('eventdetail')}}" class="read">Read More</a>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </section>
        <div class="copyright">
            <div class="logos">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-github"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            </div>
            <div class="content">
               <p>Contact Us &nbsp;</p>
            </div>
            <div class="copy">
                <p>&copy; 2025 MSPVL</p>
            </div>
        </div>
    </form>
    </div>
</body>
</html>