<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="event.css">
</head>
<body>
    <div class="event">
        <div class="event-table">
            <form action="" method="">
                <h1>Event Information</h1>
                <table >
                    <tr>
                        <td><label for="">Location</label></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="event-location"></td>
                    </tr>
                    <tr>
                        <td><label for="">Event Date</label></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="event-time"></td>
                    </tr>
                    <tr>
                        <td><label for="">Time</label></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="event-time"></td>
                    </tr>
                    <tr>
                        <td><label for="">Description</label></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="event-des" id=""></td>
                    </tr>
                    <tr>
                        <td class="cancel"><button type="button" >Cancel</button></td><td class="ok"><button type="submit" >Ok</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>