<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumini Management system</title>
    <link rel="stylesheet" href="static/home.css">
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
</head>
<body>
    <div class="alumini">
        <form action="/student-home" method="">
        <header>
            <div class="header1">
                <div class="doubt">
                    <p>Have any questions?</p>
                    <p>9012345678</p>
                    <p>mspvl@mspvl.com</p>
                </div>
                <div class="admin-login">
                    <a href="{{url_for('admin')}}">Admin Login</a>
                </div>
            </div>
            <div class="header2">
                <div class="logo">
                    <h1>MSPVL <span>Alumini System</span></h1>
                </div>
                <div class="menu">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Gallery</a>
                    <a href="#">Events</a>
                    <a href="#">Job Posted</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </header>
        <section class="home">
            <div class="image">
                <img src="static/images/alumin-2-crop.jpg" alt="">
            </div>
        </section>
        <section class="welcome">
            <div class="left-content">
                <p class="left">Alumni today are the best soure of jobs, donation and Knowledge capital for you institude, so get them back by signing up for ALUMNI TODAY!!</p>
            </div>
            <div class="right-content">
                <h2><span class="text"></span></h2>
                <p>Alumni Management is the process of maintaining a strong, ongoing relationship between an institution and its former students. It involves fostering engagement through events like reunions, networking opportunities, and mentorship programs. Effective alumni management helps build a vibrant community where alumni can contribute to the growth of their alma mater, whether through donations, expertise, or volunteer efforts. Leveraging tools such as CRM systems, social media, and dedicated alumni portals, institutions can keep alumni informed, connected, and inspired to stay involved. This continuous connection not only strengthens institutional pride but also opens avenues for mutual growth and collaboration.
                </p>
            </div>
        </section>
        <section class="event">

        </section>
      </form>
    </div>




    <script src="script.js"></script>

</body>
</html>