
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login</title>

</head>
<style>
    form{
        box-shadow:3px 3px 10px black;
        padding:30px;
        text-align:center;
        height:250px;
        width:500px;
        }
    .btn{
        text-align:center;
        padding:40px;
        }
</style>
<body>
<form action="/confirm" method="POST">
    <h1>Loginpage sqlite</h1>

    <div class="form">
    <label>username</label>
    <input type="text" uname="uname"><br><br>

    <label>password</label>
    <input type="password" password="password"><br>
    <div class="btn">
    <input type="submit" value="login" class="btn2">

    </div></div>
</form>


</body>
</html>