<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sucess page</title>
</head>
<style>
  *{
  margin:0px;
  padding:0px;
  }

</style>

<body>
<!---<h1>Wellcome to my site</h1>
<h3>welcome:{{session["name"]}}</h3>
.nav1{
    background: rgb(231,83,238);
background: linear-gradient(90deg, rgba(231,83,238,1) 19%, rgba(102,223,247,1) 75%);
  width:1600px;
  height:100px;
  display:fixed;
  }
  .nav1 a{
  margin-left:300px;
  color:#f00b64;
  font-size:20px;
  display-content:flex;
  }


<div class="logo">
   <img src="static/images/lg1.png" alt="img not found" width=100px" height="100px">
</div>---->
<div class="nav1">
  <img src="static/images/lg1.png" alt="img not found" width=100px" height="100px">
  <a href="loginpage">Sign in</a>
  <a href="admin"> Admin</a>
  <a href="about">About</a>
  <a href="ourimpact">ourimpact </a>
  <a href="contact">Contact Us </a>
  <a href="donate"><button type="button">Donate</button></a></div>
</div>

<div class="nav2">


</div>

</body>
</html>